body {
  margin: 0;
  font-family: "poppin", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../public/background-app-weather-react.jpg);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  max-width: 1080px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #e2e2e2;
  opacity: 0.95;
}
